SECRET_KEY = <secret django key>
ALLOWED_HOSTS = <your domain name>
EMAIL_PORT = <port of email server>
EMAIL_HOST = <address of email server>
EMAIL_HOST_USER = <username email server>
EMAIL_HOST_PASSWORD = <password email server>